MOODLE_DATABASE_TYPE=mariadb
MOODLE_DATABASE_HOST=172.17.0.1
MOODLE_DATABASE_PORT_NUMBER=3306
MOODLE_DATABASE_NAME=moodle
MOODLE_DATABASE_USER=user
MOODLE_DATABASE_PASSWORD=d1dfd0d5caf688e3bf585d75f509ce096c6ba5f3294b7d3087a1e6b6b41968f9
MOODLE_USERNAME=admin
MOODLE_PASSWORD=admin123
MOODLE_SITE_NAME="Moodle SMKTH"
MOODLE_HOST=192.168.10.12
MOODLE_REVERSEPROXY=yes
